body{
    margin: 0;
    padding: 0;
}
/* navbar *//* navbar *//* navbar *//* navbar */
#navbar{
    background-color: #274873;
    border-bottom: 1px solid black;
    height: 65px;
}
.logoNav{
    margin-left: 4rem;
}
#navbar a{
    margin-right: 50px;
    font-family: 'Galindo', cursive;
    font-size: 1.1vw
}
#navbar a:hover{
    color: orange;
}
/* navbar */
/* header accueil *//* header accueil *//* header accueil *//* header accueil */
#fondHeader{
    height: 300px;
    background-image: url(images/fondheader.png);
    border-bottom: 5px solid #2274A5;
    border-radius: 0  0 40px 40px;
    /* background-image: linear-gradient(to bottom right, #2274A5, #ffff); */
    /* border-bottom: 1px solid black; */
}
#menu1{
    border: 1px solid black;
    -webkit-box-shadow: 5px 5px 15px 3px #000000;
    box-shadow: 5px 5px 15px 3px #000000;
    margin-top: 1rem;
    ;
}
#menu1 a{
    color: #476489;
    font-weight: bold;
    font-family: 'Galindo', cursive;
    font-size: 2.2vh;

}
#menu1 a:hover{
    color: orange;
}
.titreHeader1{
    font-size: 8vw;
    font-family: 'Slackey', cursive;
    color: orange;
    text-shadow: 5px 5px 7px #000000;
    text-align: center;
    margin-top: 1rem;

}
.titreHeader2{
    margin-top: -1rem;
    font-size: 3.2vh;
    text-align: center;
    font-family: 'Galindo', cursive;
    color: #352f2f;
}
#buttons{
    text-align: center;
    margin-top: 2.5rem;
}
#buttonheader1{
    width: 13vw;
    background-color: #274873;
    box-shadow: 5px 5px 20px 3px #000000;
}
#buttonheader2{
    width: 13vw;
    margin-left: 10vw;
    background-color: #274873;
    box-shadow: 5px 5px 20px 3px #000000;
}
#buttonheader1:hover{
    width: 13.5vw;
    height: 5vh;
    background-color: orange;
}
#buttonheader2:hover{
    width: 13.5vw;
    height: 5vh;
    background-color: orange;
}
/* fin header accueil */
/* presentation  */ /* presentation  */ /* presentation  */ /* presentation  */
.presentation1{
    margin-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
#title1{
    font-family: 'Slackey', cursive;
    font-size: 6.3vh;
    color: orange;
    text-shadow: 5px 5px 5px #000000;
}
#text1{
    font-weight: bold;
    font-size: 2.5vh;
    border: 5px solid #2274A5;
    border-radius: 40px;
    padding: 2rem;
}
.presentation2{
    border: 5px groove #274873;
    border-radius: 20px;
    background-image: linear-gradient(to bottom left, #2274A5, #ffff);
    margin-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2.5rem;
}
#card1{
    border: 5px solid #2274A5;
    border-radius: 32px;
    padding: 0.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    /* width: 20rem;
    margin-left: 6rem;*/
}
#card2{
    border: 5px solid #2274A5;
    border-radius: 32px;
    padding: 0.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    /* width: 20rem;
    margin-left: 4rem; */
}
#card3{
    border: 5px solid #2274A5;
    border-radius: 32px;
    padding: 0.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    /* width: 20rem;
    margin-left: 2rem; */
}
#cardLink{
    border-top: 2px solid #2274A5;
    /* background-image: linear-gradient(to bottom left, #2274A5, #ffff); */
}
#cardLink a{
    font-weight: bold;
    font-family: 'Galindo', cursive;
    color: orange;
    text-shadow: 2px 2px 3px #000000;
    font-size: 2.5vh;
}
#cardLink a:hover{
    font-size: 1.5vw;
}
.cardContent p{
    font-weight: bold;
    font-size: 2.8vh;
}
.titlecard{
    font-family: 'Play', sans-serif;
}
/* footer */ /* footer */ /* footer */ /* footer *//* footer */ /* footer */
#footer1{
    background-image: linear-gradient(to top left,  #274873, #2274A5);
    margin-top: 4rem;
    margin-bottom: 0;
}
#footer1 h5{
    color: orange;
    font-size: 4vh;
}
#footer2{
    background-color: #274873;
    margin : 0;
    padding: 0;
}
#Menufooter{
    margin-bottom:  0;
}
#Menufooter a{
    font-family: 'Galindo', cursive;
    margin-bottom: 1rem;
    color: #ffff;
    font-size: 2.5vh;
}
#Menufooter h5{
    font-family: 'Galindo', cursive;
    color: orange;
    text-shadow: 2px 2px 3px #000000;
}
#Menufooter a:hover{
    color: orange;
    font-size: 2.6vh;
}
.logofooter{
    margin-left: 39rem;
}
#textfooter h5{
    font-family: 'Slackey', cursive;
    font-size: 5vh;
    color: orange;
    text-shadow: 2px 2px 3px #000000;
}
#textfooter p{
    color: #ffff;
    font-size: 2.8vh;
}
.mentions a{
    margin-left: 36vw;
    font-size: 1vw;
}
.mentions a:hover{
    color: orange;
}
#bottomFooter{ /*supprime le margin en bas de footer*/
    margin-bottom: 0;
}
/* fin footer */
/* navbar formulaire*/ /* navbar formulaire*/ /* navbar formulaire*/
#navbar2{
    background-color: #274873;
    border-bottom: 1px solid black;
    height: 65px;
}
.logoNav{
    margin-left: 4rem;
}
#navbar2 a{
    margin-right: 50px;
    font-family: 'Galindo', cursive;
}
#navbar2 a:hover{
    color: orange;
}
/*  fin navbar formulaire */
/* formulaire inscription *//* formulaire inscription */ /* formulaire inscription */
#formTitle{
    margin-top: 5rem;
    font-family: 'Slackey', cursive;
    font-size: 4vw;
    color: orange;
    text-shadow: 5px 5px 5px #000000;
}
#FormInscription{
    margin-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 3rem;
    padding-top: 6rem;
    border-radius: 10rem;
}
.inputError{
    color: red;
}
#buttonSend{
    margin-top: 2rem;
    margin-bottom: 0;
}
/* espace de connexion  */ /* espace de connexion  */ /* espace de connexion  */
#sendConnexion{
    margin-top: 2rem;
    margin-bottom: 0;
}
#FormConnexion{
    margin-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    border-radius: 7rem;
}
/* profilpage */ /* profilpage */ /* profilpage */
#menuTab{
    border: 3px solid orange;
    border-radius: 32px;
    margin-top: 5rem;
    padding: 2rem;
}
#menuTab > .tabs > li > a{
    font-family: 'Slackey', cursive;
    font-size: 3vh;
    color: orange;
    text-shadow: 2px 2px 3px #000000;
}
#menuTab > .tabs > li > a:focus.active{
    background-color: rgba(246,178,181,0.2);
    outline: none;
}
.imgbackProfil{
    background-image: linear-gradient(to bottom right, orange, #ffff);
    width: 100%;
    height: 30vh;
}
.imgprofil{
    margin: 1rem;
    height: 25vh;
    width: 12.5vw;
}
.imgprofilInOuting{
    margin: 1rem;
    height: 10vh;
    width:  5vw;
}
div.row.infosprofil1{
    margin-top: 2rem;
}
.divTitleProfile{
    margin-top: 1.5rem;
}
.profiletitle p{
    font-family: 'Galindo', cursive;
    font-size: 3.7vh;
    text-shadow: 2px 2px 3px #000000;
    color: #ffa500;
}
.profiletitle2 p{
    font-size: 2.5vh;
}
#btnprofile{
    margin-top: 10rem;
    float: right;
}
#profilecard{
    background-image: linear-gradient(to bottom right, orange, #ffff);
    border-radius: 40px;
    margin-top: 2rem;
}
/*#footerProfile{
    background-image: linear-gradient(to bottom right,  orange, #ffff);
    margin-top: 4rem;
    margin-bottom: 0;
    padding-bottom: 0;
}
#footer2profil{
    background-color: orange;
}*/
.tablePosts{
    margin-top: 1rem;
}
.buttonsPosts{
    margin-top: 3rem;
}
/* css creationsortie *//* css creationsortie *//* css creationsortie *//* css creationsortie *//* css creationsortie *//* css creationsortie */
/* .deep-orange.accent-2 {
    background-color: #ff6e40 !important;
} */
.white-text {
    color: #FFFFFF !important;
}
a {
    text-decoration: none;
}
#formcreateSortie{
    margin-top: 2rem;
}
.contenuformcreate{
    padding : 1rem;
}
/* css sortie.php *//* css sortie.php *//* css sortie.php *//* css sortie.php */
#cardsortie{
    margin-top: 3rem;
    border-radius: 30px;
    width: 80%;
}
.pseudocardOuting{
    color: #ef6c00;
}
.titleOuting{
    font-family: 'Chewy', cursive; 
    font-size : 5vh;
    color : #2274A5;
    font-weight: bold;
}
.textOuting{
    font-family: 'Chewy', cursive; 
    font-size : 3vh;
    color : #2274A5;
}

.topcardSortie{
    border-bottom: 1px solid #80808063;
    background-image: linear-gradient(to bottom left, #2274A5, #ffff);
    padding: 0.3rem;
    border-radius: 30px 30px 0 0;
}
.rowCarousel{
    border-bottom: 1px solid #80808063;
}
.rowcomSortie{
    padding-bottom: 3rem;
    border-bottom: 1px solid #80808063;
}
#carouselSortie{
    height: 230px;
}
.descriptionSortie{
    border-bottom: 1px solid #80808063;
}
.rowcomSortie{

}
/* css mentions légales *//* css mentions légales *//* css mentions légales */
#TitleMention{
    margin : 3rem;
    font-family: 'Slackey', cursive;
    font-size: 4vw;
    color: orange;
    text-shadow: 5px 5px 5px #000000;
}
#titlecardProfil{
     font-family: 'Chewy', cursive; 
    font-size: 2rem;
}
.fontInfouser{
    font-family: 'Chewy', cursive; 
    font-size: 3vh;
    color: #2274A5;
}
/*css alert update*/
.gradient-45deg-amber-amber{
    background: -webkit-linear-gradient(45deg,#ff6f00,#ffca28)!important;
    background: oldlinear-gradient(45deg,#ff6f00,#ffca28) -moz-!important;
    background: -o-linear-gradient(45deg,#ff6f00,#ffca28)!important;
    background: linear-gradient(45deg,#ff6f00,#ffca28)!important;
}
.gradient-45deg-cyan-light-green{
    background: -webkit-linear-gradient(45deg,#0097a7,#b2ff59)!important;
    background: oldlinear-gradient(45deg,#0097a7,#b2ff59) -moz-!important;
    background: -o-linear-gradient(45deg,#0097a7,#b2ff59)!important;
    background: linear-gradient(45deg,#0097a7,#b2ff59)!important;
}
.gradient-45deg-indigo-light-blue{
    background: -webkit-linear-gradient(45deg,#3949ab,#4fc3f7)!important;
    background: oldlinear-gradient(45deg,#3949ab,#4fc3f7) -moz-!important;
    background: -o-linear-gradient(45deg,#3949ab,#4fc3f7)!important;
    background: linear-gradient(45deg,#3949ab,#4fc3f7)!important;
}
.card-alert > .close{
    cursor : pointer;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #fff;
    border: none;
    background: 0 0;
}
/*modal delete user*/
#modaldelete{
    border-radius: 20px;
}
#modalfooter{
    margin-bottom: 0.5rem;
}
