/* navbar top */
.navTop{     /* attribut css de navbar top */
  background-color: #ffd275;
}
.iconTop{   /*attribut pour icon de navTop*/
  padding-top: 0.5rem;
}
/* div acceuil */
#acceuil {
  position: relative;
  text-align: center;
}
#imgAccueil{
 width: 100%;
 background-size: cover;

 /* max-width: 100%; */
}
#textAccueil{
    font-size:  2.5vw; /*je déclare font-size en vw pour que la taille soit variable selon la largeur d'ecran*/
    position: relative;
    top: -41vw;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Fascinate Inline', cursive;
    color : #172a3a;
}
#textAccueil2{
    font-size: 1.8vw;
    position: relative;
    top: -38vw;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Fascinate Inline', cursive;
    color : #172a3a;
    white-space:nowrap; /*permet d'interdire le passage a la ligne pour garder le texte sur une seule ligne*/

}
/*navbar*/
section {

}
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#tabs{
	background: #fffffb;
  color: black;
  padding: 0;
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: black;
    font-size: 20px;
    outline: none;
}
/* presentation1 */
#presentation1 {
  text-align: center;
  font-family: 'Fascinate Inline', cursive;
  color : #172a3a;
  padding: 2rem;
}
#text1{
  text-align: center;

}
#presentation2{
  text-align: center;
  font-family: 'Fascinate Inline', cursive;
  color : #172a3a;
  padding: 2rem;

}
#presentation3{
  text-align: center;
  font-family: 'Fascinate Inline', cursive;
  color : #172a3a;
  padding: 2rem;

}
/* Button inscription connexion  */

#content{
	text-align:center;
}

#buttonInscription{
	text-align:center;
  display: block;
  height: 3rem;
  width: 20rem;
  
	cursor:pointer;
	font-size:25px;
	color:#F0F0F0;
	border-radius:10px;
	border-bottom:4px solid #0045A6;
	box-shadow: 6px 6px 6px #999;

	background: -webkit-linear-gradient(#00C8F8, #0067F7);
  background: -o-linear-gradient(#00C8F8, #0067F7);
  background: -moz-linear-gradient(#00C8F8, #0067F7);
  background: linear-gradient(#00C8F8, #0067F7);

	-webkit-transition: background 0.05s linear;
  -moz-transition: background 0.05s linear;
  -o-transition: background 0.05s linear;
  transition: background 0.05s linear;

	background-size:1px 200px;

	transition: all .05s linear;
}

#buttonInscription:hover{
	background-position:100px;
}

#buttonInscription:active {
	box-shadow: 2px 2px 2px #777;
	border-bottom:1px solid #0045A6;
	transform: translateY(3px);
}
#buttonConnexion{
	text-align:center;
  display: block;
  height: 3rem;
  width: 20rem;

	cursor:pointer;
	font-size:25px;
	color:#F0F0F0;
	border-radius:10px;
	border-bottom:4px solid #0045A6;
	box-shadow: 6px 6px 6px #999;

	background: -webkit-linear-gradient(#00C8F8, #0067F7);
  background: -o-linear-gradient(#00C8F8, #0067F7);
  background: -moz-linear-gradient(#00C8F8, #0067F7);
  background: linear-gradient(#00C8F8, #0067F7);

	-webkit-transition: background 0.05s linear;
  -moz-transition: background 0.05s linear;
  -o-transition: background 0.05s linear;
  transition: background 0.05s linear;

	background-size:1px 200px;

	transition: all .05s linear;
}

#buttonConnexion:hover{
	background-position:100px;
}

#buttonConnexion:active {
	box-shadow: 2px 2px 2px #777;
	border-bottom:1px solid #0045A6;
	transform: translateY(3px);
}
/* fin buttons */
/* fin presentation1 */
 /* cards accueil */
.mb.card-body{
    text-align: center;
}
.mb.btn{
    border-radius: 0;
    box-shadow: 0.5px 1px 2px hsla(0, 0%, 20%, 1);
}
.mb.btn:hover{
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px hsla(0, 0%, 20%, 1);
}
.mb.card{
    border-radius: 0px / 0px;
    overflow: hidden;
    box-shadow: 0.5px 1px 2px hsla(0, 0%, 20%, 1);
}
 /* fin cards accueil */

 /* css formulaire inscription */

 textarea {
	resize: none;
}
.form-label {
	font-size: 12px;
	color: #5e9bfc;
	margin-top: 2rem;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;
}
.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}
.form-control:focus {
	box-shadow: none;
	border-color: #5e9bfc;
}
.js-hide-label {
	opacity: 0;
}
.js-unhighlight-label {
	color: #999
}
.btn-start-order {
	background: 0 0 #ffffff;
    border: 1px solid #2f323a;
    border-radius: 3px;
    color: #2f323a;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: inherit;
    margin: 30px 0;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
	border-color: #5e9bfc;
	color: #5e9bfc;
}
#contact-form{
  text-align: center;
}
#nav-tabContent{
  text-align: center;
}
.FormTitle{
  margin: 3rem;
  font-family: 'Fascinate Inline', cursive;
  color : #172a3a;
}
/* fin css formulaire inscription */

 /* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #ffd275;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#007bf2;
}
#footer a {
    color:#007bf2;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#007bf2;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
/* fin footer */
