/* navbar */
#navbar{
  background-color: #274873;
  border-bottom: 1px solid black;
  height: 65px;
}
.logoNav{
  margin-left: 4rem;
}
#navbar a{
margin-right: 50px;
font-family: 'Galindo', cursive;
}
#navbar a:hover{
  color: orange;
}
/* navbar */
/* header accueil */
#fondHeader{
  height: 300px;
  background-image: linear-gradient(to bottom right, #2274A5, #ffff);
}
#menu1{
  border: 1px solid black;
  -webkit-box-shadow: 5px 5px 15px 3px #000000;
  box-shadow: 5px 5px 15px 3px #000000;
  margin-top: 1rem;
}
#menu1 a{
  color: #476489;
  font-weight: bold;
  font-family: 'Galindo', cursive;

}
#menu1 a:hover{
  color: orange;
}
.titreHeader1{
  font-size: 8vw;
  font-family: 'Galindo', cursive;
  color: orange;
  text-shadow: 5px 5px 5px #000000;
  text-align: center;
  margin-top: 1.5rem;

}
.titreHeader2{
  font-size: 1.7vw ;
  text-align: center;
  font-family: 'Galindo', cursive;
  color: #294366;
}
#buttons{
  text-align: center;
  margin-top: 2.5rem;
}
#buttonheader1{
  width: 13vw;
  background-color: #2276b2;
  box-shadow: 5px 5px 20px 3px #000000;
}
#buttonheader2{
  width: 13vw;
  margin-left: 10vw;
  background-color: #2276b2;
  box-shadow: 5px 5px 20px 3px #000000;
}
#buttonheader1:hover{
  width: 13.5vw;
  height: 6vh;
  background-color: orange;
}
#buttonheader2:hover{
  width: 13.5vw;
  height: 6vh;
  background-color: orange;
}
/* fin header accueil */
/* presentation  */
.presentation1{

}
#text1{

}
